* {
    box-sizing: border-box;
}

html {
    background: url(lemonade.jpeg) no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: Stencil Std, fantasy;
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.welcomeLogo {
    height: 100px;
    width: 200px;
}
