* {
    box-sizing: border-box;
}

html {
    background: url(lemonade.jpeg) no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: Stencil Std, fantasy;
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.main {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.welcomeLogo {
    height: 100px;
    width: 200px;
}

.profileLogo {
    height: 80px;
    width: 80px;
}

img {
    width: 80px;
    height: 80px;
}

/* PROFILE CONTAINER */
.profile {
    margin-top: 100px;
    width: 400px;
    height: 400px;
}

/* UPLOADER */
.uploader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

/* BIO */
.bio-text {
    width: 300px;
    height: 200px;
    background-color: black;
    font-weight: bold;
    color: white;
}

.profile-pic {
    width: 400px;
    height: 400px;
}

.find-people {
    margin-top: 100px;
    width: 400px;
    height: 400px;
}

.friends-container {
    display: flex;
    flex-direction: column;
}

.friends {
    width: 900px;
    height: 200px;
    border: black solid 2px;
    display: flex;
    flex-direction: row;
}

.wannabes {
    margin-top: 50px;
    height: 200px;
    width: 900px;
    border: red solid 2px;
    display: flex;
    flex-direction: row;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}
